.navigation {
  color: $color-white;
  cursor: pointer;

  & li {
    display: inline-block;
    margin-right: 2rem;
    font-family: 'Alata', sans-serif;

    &:last-child {
      margin-right: 0;
    }
  }

}
