.footer-background {
  grid-column: full-start/ full-end;
  grid-row: 4 / 5;
  background-color: $color-black;
}

.footer {
  grid-column: center-start / center-end;
  grid-row: 4 / 5;
  padding: 3rem 0;

  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  background-color: $color-black;

  &--top {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 1rem;

  }

  &--bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  &--icons {
    align-self: center;
  }

  &__logo {

  }

}

.copyright {
  p {
    color: $color-white
  }
}
