.footer {
  grid-column: center-start / center-end;

  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  background-color: $color-black;

  &--top {
    display: flex;
    justify-content: space-between;

  }

  &--bottom {
    background-color: gold;
    display: flex;
    justify-content: space-between;
  }

  &--icons {
    background-color: darkgray;
    align-self: center;
  }

  &__logo {

  }

}

.footer-container {
  grid-column: full-start / full-end;
  background-color: $color-black;
}

.copyright {
  p {
    color: $color-white
  }
}
