.home {
  display: grid;
  grid-template-rows: 80vh repeat(3, min-content);
  grid-template-columns:
          [full-start] minmax(0, 1fr)
              [center-start]
                   repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
              [center-end]
          minmax(0, 1fr) [full-end];
  gap: 10rem;
}
